.headerContainer {
  width: 100%;
  height: 15vh;
  padding: 8px;
  display: flex;
  align-items: center;
  width: 1280px;
  margin: auto;

  .header {
    display: flex;
    justify-content: flex-start;
    padding: 0 8px;
    .navigation {
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        gap: 0.5rem;

        li {
          a {
            text-decoration: none;
            color: black;
            font-weight: 600;
            font-size: 20px;

            &.active {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
