.home {
  width: 1280px;
  height: 69vh;
  background-color: green;
  margin: auto;
  .hero-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("/heroImg.png");
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    .hero-text {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
    }
  }
}
