@use "header";
@use "footer";
@use "home";
@use "quizzes";
@use "quiz-details.scss";
@use "button.scss";
@use "create-lobby.scss";
@use "join-lobby.scss";
@use "quiz-card";
@use "game-screen";
@use "score-board";
@use "game-over-screen";
@use "answer-button";
@use "question-display";
